.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;

  margin: 15px 0;
}

.name-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.pokemon-container {
  text-align: center;
  padding: 16px;

  img {
    width: 180px;
    height: 180px;
    margin-bottom: 16px;
  }

  ion-chip {
    margin: 4px;
    font-family: 'Ubuntu';
  }

  ion-card {
    margin-top: 20px;
    text-align: left;
    font-family: 'Ubuntu';
  }
}
