<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ pokemon?.name | titlecase }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="!loading && pokemon">
    <div class="pokemon-container">
        <img [src]="pokemon.sprites.other['official-artwork'].front_default" alt="{{ pokemon.name }}">
        <h2>{{ pokemon.name | titlecase }}</h2>

        <ion-chip color="secondary" *ngFor="let type of pokemon.types">
            {{ type.type.name | titlecase }}
        </ion-chip>

        <ion-card>
            <ion-card-header>
                <ion-card-title>Detalhes</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <p><b>Peso:</b> {{ pokemon.weight / 10 }} kg</p>
                <p><b>Altura:</b> {{ pokemon.height / 10 }} m</p>
                <p><b>Habilidades:</b></p>
                <ul>
                    <li *ngFor="let ability of pokemon.abilities">
                        {{ ability.ability.name | titlecase }}
                    </li>
                </ul>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>

<ion-content *ngIf="loading">
    <ion-spinner class="center"></ion-spinner>
</ion-content>