<ion-header>
    <ion-toolbar color="tertiary">
        <ion-title>Pokedex</ion-title>
        <ion-img src="../../../assets/icon/logo_dex_3.png" slot="end"
            style="width: 40px; height: 40px; margin-right: 10px;" title="Pokedex"></ion-img>
    </ion-toolbar>
</ion-header>

<ion-content>

    <!-- 🔹 Linha de opções de visualização -->
    <div class="view-selector">
        <input type="radio" name="viewMode" value="list" id="list" (change)="changeView('list')"
            [checked]="viewMode === 'list'" />
        <label for="list" [class.selected]="viewMode === 'list'" title="Ver em lista">
            <ion-img src="../../../assets/icon/list-icon.png" alt="icon-list"></ion-img>
        </label>

        <input type="radio" name="viewMode" value="grid" id="grid" (change)="changeView('grid')"
            [checked]="viewMode === 'grid'" />
        <label for="grid" [class.selected]="viewMode === 'grid'" title="Ver em grade">
            <ion-img src="../../../assets/icon/grid-icon.png" alt="icon-grid"></ion-img>
        </label>
    </div>


    <ion-spinner *ngIf="loading" class="center"></ion-spinner>

    <!-- 🔹 Modo Lista -->
    <ion-list *ngIf="!loading && viewMode === 'list'">
        <ion-item *ngFor="let p of pokemons" button (click)="openDetail(p)">
            <ion-avatar slot="start">
                <img [src]="p.sprites.front_default" alt="{{ p.name }}">
            </ion-avatar>
            <ion-label>
                {{ p.name | titlecase }}
            </ion-label>
        </ion-item>
    </ion-list>

    <!-- 🔹 Modo Grid -->
    <ion-grid *ngIf="!loading && viewMode === 'grid'">
        <ion-row>
            <ion-col size="6" size-md="4" size-lg="3" *ngFor="let p of pokemons">
                <ion-card button (click)="openDetail(p)">
                    <img [src]="p.sprites.front_default" alt="{{ p.name }}">
                    <ion-card-content>
                        <ion-card-title class="ion-text-center">
                            {{ p.name | titlecase }}
                        </ion-card-title>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>